{% extends 'base.html' %}

{% block content %}
    {% block title %}
		<ul class="d-flex justify-content-center flex-nowrap letterbox">
			{{ generator("Monster Hunter 3 (Tri) Server Project", 40) | safe }}
		</ul>
	{% endblock %}
	<ul class="list-group list-group-vertical">
	{% for server in servers %}
		<div class="bg-image slot slot-generic" style="background-image: url({{ url_for('static', filename='img/MH3_slotgeneric.png') }})" onclick="location.href='{{url_for('server', server_id=server['id'])}}'">
			<image class="bg-image arrow-right" src="{{ url_for('static', filename='img/MH3_arrowright.png') }}">
			</image>
			<div class="slot-generic-content">
				<a href="{{ url_for('server', server_id=server['id']) }}">
					<ul class="list-group list-group-horizontal">
						{{ generator(server['title'], 20) | safe }}
					</ul>
					
				</a>
				<span class="badge badge-secondary">
					{{ generator(server['population'] ~ " / " ~ server['capacity'], 15) | safe }}
				</span>
			</div>
		</div>
        <hr>
    {% endfor %}
	<ul>
{% endblock %}